In [13]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [14]:
# creating a path
path = r'C:\Users\dog\Desktop\Instacart Basket Analysis'

In [17]:
# 3 importing pickle file 
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [18]:
# 4 checking shape of the imported pkl file. The result is the same 
df_orders_products_combined.shape

(32434489, 11)

In [ ]:
# Determine a suitable way to combine the orders_products_combined dataframe with your products data set.
#Make sure you’re using your wrangled, cleaned, and deduped products data set
# stored in your “Prepared Data” folder from the previous Exercise’s task.

In [22]:
df_prods_cleaned_no_dups = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean_no_dups.csv'), index_col = False)

In [23]:
df_prods_cleaned_no_dups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [32]:
df_prods_cleaned_no_dups.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  _merge                  category
dtypes: category(1), float64(1), int64(8), object(1)
memory usage: 2.7+ GB

### since we need to check whether both tables got matched, we need to drop _merge column in the combined df from pickle file. We will create new indicator for the merged data frames

In [28]:
# Drop column _merge, so that we can combine 2 new data frames together
df_orders_products_combined = df_orders_products_combined.drop(columns=['_merge'])

In [29]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
dtypes: float64(1), int64(8), object(1)
memory usage: 2.7+ GB

In [30]:
#merging two data frames 
df_merged_ords_combnd_and_prods_clnd = df_orders_products_combined.merge(df_prods_cleaned_no_dups, on = 'product_id', indicator = True)

In [33]:
#checking how the data set looks like 
df_merged_ords_combnd_and_prods_clnd

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

#### the only thing that looks a bit suspicious is a unnamed column, which I would clarify with the client, since I am not sure what that column stands for

In [34]:
# checking if the data was merged completely
df_merged_ords_combnd_and_prods_clnd['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
# checking shape of the merged data frame 
df_merged_ords_combnd_and_prods_clnd.shape

(32404859, 16)

In [37]:
# Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
df_merged_ords_combnd_and_prods_clnd.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))