## task 4.3.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Turn your project folder path into a string as outlined in the Exercise text.
path = r'C:\Users\dog\Desktop\Instacart Basket Analysis'

In [4]:
# Import the “orders.csv” data set into your notebook using the os library and the vars_list shortcut,
# omitting the “eval_set” column in your final dataframe.
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [25]:
# Import the “orders.csv” data set into your notebook using the os library and the vars_list shortcut,
# omitting the “eval_set” column in your final dataframe.
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [26]:
## Print the first 5 rows of your dataframe.
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
#import the “products.csv” file into Jupyter as df_prods (as opposed to df, which is what your “orders.csv” file is named in Jupyter).
#You can use the path variable you created in step 4 to import “products.csv” with the os library.

df_prod = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'products.csv'), index_col = False)

In [17]:
# Print the first 20 rows and last 35 rows of the df_prods dataframe. I have used append, because I have found it in stack overflow :)) 

df_prod.head(20).append(df.tail(35))

C:\Users\dog\AppData\Local\Temp\ipykernel_6536\2138919157.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_prod.head(20).append(df.tail(35))

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,All-Seasons Salt,104.0,13.0,9.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Robust Golden Unsweetened Oolong Tea,94.0,7.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Smart Ones Classic Favorites Mini Rigatoni Wit...,38.0,1.0,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Green Chile Anytime Sauce,5.0,13.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,Dry Nose Oil,11.0,11.0,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,Pure Coconut Water With Orange,98.0,7.0,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,Cut Russet Potatoes Steam N' Mash,116.0,1.0,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,Light Strawberry Blueberry Yogurt,120.0,16.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,Sparkling Orange Juice & Prickly Pear Beverage,115.0,7.0,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,Peach Mango Juice,31.0,7.0,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,Chocolate Fudge Layer Cake,119.0,1.0,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,Saline Nasal Mist,11.0,11.0,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,Fresh Scent Dishwasher Cleaner,74.0,17.0,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,Overnight Diapers Size 6,56.0,18.0,11.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16.0,Mint Chocolate Flavored Syrup,103.0,19.0,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17.0,Rendered Duck Fat,35.0,12.0,17.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18.0,Pizza for One Suprema Frozen Pizza,79.0,1.0,10.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Gluten Free Quinoa Three Cheese & Mushroom Blend,63.0,9.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,Pomegranate Cranberry & Aloe Vera Enrich Drink,98.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3421048,NaN,NaN,NaN,NaN,NaN,726186.0,206208.0,prior,30.0,0.0,16.0,3.0
3421049,NaN,NaN,NaN,NaN,NaN,2523609.0,206208.0,prior,31.0,4.0,11.0,4.0
3421050,NaN,NaN,NaN,NaN,NaN,756221.0,206208.0,prior,32.0,6.0,18.0,9.0
3421051,NaN,NaN,NaN,NaN,NaN,2254244.0,206208.0,prior,33.0,6.0,13.0,7.0
3421052,NaN,NaN,NaN,NaN,NaN,2017995.0,206208.0,prior,34.0,6.0,15.0,7.0
3421053,NaN,NaN,NaN,NaN,NaN,2789700.0,206208.0,prior,35.0,3.0,22.0,4.0
3421054,NaN,NaN,NaN,NaN,NaN,844592.0,206208.0,prior,36.0,6.0,15.0,10.0
3421055,NaN,NaN,NaN,NaN,NaN,1541132.0,206208.0,prior,37.0,2.0,12.0,3.0
3421056,NaN,NaN,NaN,NaN,NaN,2808240.0,206208.0,prior,38.0,0.0,15.0,19.0
3421057,NaN,NaN,NaN,NaN,NaN,3027766.0,206208.0,prior,39.0,2.0,14.0,9.0
3421058,NaN,NaN,NaN,NaN,NaN,3356245.0,206208.0,prior,40.0,5.0,9.0,10.0
3421059,NaN,NaN,NaN,NaN,NaN,442304.0,206208.0,prior,41.0,2.0,14.0,11.0
3421060,NaN,NaN,NaN,NaN,NaN,2675140.0,206208.0,prior,42.0,1.0,19.0,6.0
3421061,NaN,NaN,NaN,NaN,NaN,167903.0,206208.0,prior,43.0,4.0,14.0,3.0
3421062,NaN,NaN,NaN,NaN,NaN,2393201.0,206208.0,prior,44.0,6.0,16.0,2.0
3421063,NaN,NaN,NaN,NaN,NaN,3292671.0,206208.0,prior,45.0,2.0,11.0,3.0
3421064,NaN,NaN,NaN,NaN,NaN,3059777.0,206208.0,prior,46.0,1.0,10.0,13.0
3421065,NaN,NaN,NaN,NaN,NaN,2239861.0,206208.0,prior,47.0,3.0,4.0,9.0
3421066,NaN,NaN,NaN,NaN,NaN,1285346.0,206208.0,prior,48.0,1.0,11.0,5.0
3421067,NaN,NaN,NaN,NaN,NaN,1882108.0,206208.0,prior,49.0,1.0,22.0,7.0
3421068,NaN,NaN,NaN,NaN,NaN,803273.0,206208.0,test,50.0,5.0,11.0,4.0
3421069,NaN,NaN,NaN,NaN,NaN,3154581.0,206209.0,prior,1.0,3.0,11.0,NaN
3421070,NaN,NaN,NaN,NaN,NaN,1889163.0,206209.0,prior,2.0,3.0,17.0,7.0
3421071,NaN,NaN,NaN,NaN,NaN,1542354.0,206209.0,prior,3.0,5.0,11.0,30.0
3421072,NaN,NaN,NaN,NaN,NaN,688306.0,206209.0,prior,4.0,1.0,10.0,30.0
3421073,NaN,NaN,NaN,NaN,NaN,2307371.0,206209.0,prior,5.0,4.0,15.0,3.0
3421074,NaN,NaN,NaN,NaN,NaN,3186442.0,206209.0,prior,6.0,0.0,16.0,3.0
3421075,NaN,NaN,NaN,NaN,NaN,550836.0,206209.0,prior,7.0,2.0,13.0,9.0
3421076,NaN,NaN,NaN,NaN,NaN,2129269.0,206209.0,prior,8.0,3.0,17.0,22.0
3421077,NaN,NaN,NaN,NaN,NaN,2558525.0,206209.0,prior,9.0,4.0,15.0,22.0
3421078,NaN,NaN,NaN,NaN,NaN,2266710.0,206209.0,prior,10.0,5.0,18.0,29.0
3421079,NaN,NaN,NaN,NaN,NaN,1854736.0,206209.0,prior,11.0,4.0,10.0,30.0
3421080,NaN,NaN,NaN,NaN,NaN,626363.0,206209.0,prior,12.0,1.0,12.0,18.0
3421081,NaN,NaN,NaN,NaN,NaN,2977660.0,206209.0,prior,13.0,1.0,12.0,7.0
3421082,NaN,NaN,NaN,NaN,NaN,272231.0,206209.0,train,14.0,6.0,14.0,30.0

In [19]:
# Print the names of the columns in the df_prods dataframe.
df_prod.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [21]:
# Print the number of rows and columns in the df_prods dataframe. (we could use shape or describe, however her ewe see much more information)
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

# Answer the following questions using the relevant commands. Use markdown mode for your Jupyter cells to provide written answers within your Jupyter notebook after executing the commands:

### What’s the maximum value of the “aisle_id” column?   134.000000 . see next row with describe function
### What’s the data type of the “department_id” column? int64 . see previous row with info function

In [27]:
# What’s the maximum value of the “aisle_id” column? 
df_prod.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000